<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="EmailTemplatesPath" value="Templates\Emails"/>
    <add key="PaymentGatewayServiceUrl" value="http://www.matlus.com/paymentService"/>
    <add key="FiscalYearStart" value="10/15/2000"/>
    <add key="NotifyOnUpload" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="MyDb" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=Ooblx;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>